<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharegogo.wireless"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    
    <application
        android:name=".SharegogoWirelessApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeEx" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.AppSettingActivity"
            android:label="@string/setting_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEx" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.sharegogo.wireless.ui.DownloadList"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW_DOWNLOADS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.openintents.filemanager.FileManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEx" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="org.openintents.filemanager.IntentFilterActivity" >
            <intent-filter>
                <action android:name="org.openintents.action.PICK_FILE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.openintents.action.PICK_FILE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.openintents.action.PICK_FILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.openintents.action.PICK_DIRECTORY" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.openintents.action.PICK_DIRECTORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <data android:scheme="file" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>

            <!-- Filter for multi select feature -->
            <intent-filter>
                <action android:name="org.openintents.action.MULTI_SELECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
	
        <!-- 友盟统计 -->
        <meta-data android:value="52352f2556240b9ae1017f39" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="default" android:name="UMENG_CHANNEL"/>
        
        <receiver android:name="com.sharegogo.wireless.download.OpenDownloadReceiver" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
                <action android:name="android.intent.action.DOWNLOAD_LIST" />

                <data
                    android:mimeType="vnd.android.cursor.item/download"
                    android:scheme="content" />
            </intent-filter>
        </receiver>

        <service android:name="com.sharegogo.wireless.download.DownloadService" >
        </service>
        <service android:name="com.sharegogo.wireless.dlna.UpnpRegistryService" >
        </service>

        <receiver
            android:name="com.sharegogo.wireless.download.DownloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.sharegogo.wireless.download.DownloadProvider"
            android:authorities="com.sharegogo.wireless" >

            <!--
               Anyone can access /my_downloads, the provider internally restricts access by UID for
               these URIs
            -->
            <path-permission
                android:pathPrefix="/my_downloads"
                android:permission="android.permission.INTERNET" />
            <!-- Temporary, for backwards compatibility -->
            <path-permission
                android:pathPrefix="/download"
                android:permission="android.permission.INTERNET" />
            <!--
               Apps with access to /all_downloads/... can grant permissions, allowing them to share
               downloaded files with other viewers
            -->
            <grant-uri-permission android:pathPrefix="/all_downloads/" />
        </provider>
    </application>

</manifest>